.comment-container {
  min-height: 32px;
  padding-top: 6px;
  margin-right: 24px;
  display: flex;
  justify-content: flex-start;
}

.comment-thumbnail {
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 20px;
  margin-right: 6px;
  background-size: cover;
  background-origin: border-box;
  background-position: center center;
  box-sizing: border-box;
  image-rendering: auto;
  float: left;
}

.comment-body {
  display: inline-block;
  padding: 8px 10px;
  border-radius: 18px;
  line-height: 16px;
  background-color: #eff1f3;
  font-size: 13px;
  
  a {
    color: #365899;
    font-weight: bold;

    &:hover {
      text-decoration-line: underline;
      text-decoration-color: #365899;
    }
  }
}