.comment-container {
  min-height: 32px;
  padding-bottom: 6px;
  margin-right: 24px;
  display: flex;
  justify-content: flex-start;
}

.comment-thumbnail {
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 20px;
  margin-right: 6px;
  background-size: cover;
  background-origin: border-box;
  background-position: center center;
  box-sizing: border-box;
  image-rendering: auto;
  float: left;
}

.comment-body {
  display: inline-block;
  padding: 8px 10px;
  border-radius: 18px;
  line-height: 16px;
  background-color: #eff1f3;
  font-size: 13px;
  white-space: pre-wrap;
  
  a {
    color: #365899;
    font-weight: bold;

    &:hover {
      text-decoration-line: underline;
      text-decoration-color: #365899;
    }
  }
}


.comment-form-container {
  margin-bottom: -4px;
}

.comment-form {
  display: flex;

  form {
    width: 100%;
  }

  .comment-textarea {
    width: 100%;
    min-height: 18px;
    height: auto;
    padding: 7px 10px;
    border: 1px solid #ccd0d5;
    border-radius: 18px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 16px;
    background-color: #f2f3f5;
    display: inline-block;
    resize: none;
    cursor: text;

    &:focus {
      outline: none;
    }
  }

  .comment-textarea[placeholder]:empty:before {
    content: attr(placeholder);
    color: #8f939b;

    font-size: 13px;
  }

  .comment-textarea[placeholder]:empty:focus:before {
    color: #bec3c9;
  }

  
}