.friends-header {
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ebedf0;

  p {
    display: inline;
    color: #90949c;
  }
}

.friend-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin: 0 -7px -7px -7px;
}

.friend-thumbnail {
  width: 106px;
  height: 106px;
  background-size: cover;
  background-position: center center;
  background-origin: border-box;
  box-sizing: border-box;
  image-rendering: auto;
  display: flex;
  align-items: flex-end;

  padding: 5px;
  font-size: 12px;
  color: white;
  text-shadow: 0 0 2px rgba(0,0,0,.8)
}