.navbar-container {
  position: fixed;
  height: 42px;
  width: 100%;
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  z-index: 2;
}

.navbar-main {
  max-width: 1012px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navbar-left {
  display: flex;
  align-items: center;

  i {
    padding: 10px;
  }
}

.navbar-right {
  display: flex;
  height: 42px;
  align-items: center;
  position: relative;

  a {
    padding: 4px;
    margin: 0 2px;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
        "Lucida Grande";
    font-size: 12px;
    font-weight: bold;

    div {
      height: 24px;
      width: 24px;

      color: #1d2129;
      background-size: 29px 1411px;
      background-image: url(icons.png);


    }
  }

  .navbar-friends {
    background-position: 0 -867px;

    &:hover {
    }

    &:active {
      background-position: 0 -892px;
    }
  }

  .navbar-messages {
    background-position: 0 -917px;

    &:hover {

    }
    &:active {
      background-position: 0 -942px;
    }
  }

  .navbar-notifications {
    background-position: 0 -767px;

    &:hover {

    }
    &:active {
      background-position: 0 -792px;
    }
  }

  .navbar-help {
    background-position: 0 -1017px;

    &:hover {

    }
    &:active {
      background-position: 0 -1042px;
    }

  }

  .navbar-settings {
    background-position: 0 -817px;

    &:hover {

    }
    &:active {
      background-position: 0 -842px;
    }
  }

  .settings-dropdown {
    height: 180px;
    width: 208px;
    top: 43px;
    padding: 5px 0px;

    display: none;
    position: fixed;
    right: 30px;
    font-size: 14px;
    white-space: nowrap;
    justify-content: center;

    background-color: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 3px;
    z-index: 5;
  }

  .dropdown-visible {
    display: block
  }

  button {
    border: 0;
    width: calc(100%);
    padding: 0 22px;
    font-size: 12px;
    line-height: 30px;
    color: #1D2129;

    &:hover {
      background-color: #4267B2;
      color: white;
    }
  }
}

.dd-background {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
