.post-container {
  width: 500px;
  padding: 12px;
  margin-bottom: 10px;
  background: white;
  border: 1px solid #dddfe2;
  border-radius: 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
      "Lucida Grande";
  box-sizing: border-box;
}

.post-form-header {
  background: #f5f6f7;
  border-bottom: 1px solid #dddfe2;
  color: #4b4f56;
  font-weight: bold;
  font-size: 12px;
  padding: 8px 12px;
  border-radius: 2px 2px 0 0;
  margin: -12px -12px 0 -12px;
}

.post-form-content {
  font-size: 14px;
  padding-top: 12px;

  textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    padding: 12px 48px 0 12px;

    &:focus {
      outline: none;
    }
  }

  button {
    color: white;
    font-weight: bold;
    background-color: #4267b2;
    border: 1px solid #29487d;
    border-radius: 2px;
    padding: 4px 8px;
    margin-left: auto;
    
    display: block;
    cursor: pointer;

    &:hover {
      background-color: #3b5998;
    }
  }

  .post-footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #dddfe2;
    padding-top: 12px;
    margin-top: 12px;

    button {
      margin-left: 4px;

      &:first-of-type {
        color: #4b4f56;
        background-color: #f5f6f7;
        border-color: #ccd0d5;

        &:hover {
          background-color: #ebedf0;
        }
      }
    }
  }
}

.login-button {
  background-color: #4267b2;
  border: 1px solid #29487d;
  border-radius: 2px;
  padding: 0px 7px 4px 7px;
  cursor: pointer;

  &:hover {
    background-color: #3b5998;
  }

  input {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 12px;
    padding: 0;
    line-height: 18px;
    cursor: pointer;
  }
}

.post-header {     
  a {
    color: #365899;
    font-size: 14px;
    font-weight: bold;

    &:hover {
      text-decoration-line: underline;
      text-decoration-color: #365899;
    }
  }

  i {
    color: #616770;
    padding: 0 5px;

    &:hover {
      color: #333;
      cursor: pointer;
    }
  }

  .edit-dropdown {
    position: relative;

    .edit-dropdown-visible {
      display: block;
    }

    .dropdown-box {
      top: 16px;
      right: 0px;
    }

    button {
      border: 0;
      width: calc(100%);
      padding: 0 22px;
      font-size: 12px;
      line-height: 30px;
      color: #1D2129;
      cursor: pointer;

      &:hover {
        background-color: #4267B2;
        color: white;
      }
    }
  }
  
  .edit-button {
    float: right;
    padding: 0;
  }

  .date {
    color: #616770;
    font-size: 12px;
    margin-top: 2px;
    padding-bottom: 6px;
  }

  >div {
    display: flex;
    justify-content: space-between;
  }
}

.post-content {
  margin-top: 6px;
  padding-bottom: 12px;
  color: #1d2129;
  font-size: 14px;
  white-space: pre-wrap;
  line-height: 16px;
}

// Edit / Delete Modal

.post-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-header {
  margin: 5px;
}

.post-modal-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
  border-radius: 3px;
  margin-bottom: -10px;

  div {
    margin-bottom: 0;
  }
}

.close-button {
  color: #bec2c9;
  margin: 7px;
  font-size: 18px;
  float: right;
  width: 15px;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
}
.close-button:hover {
  color: #9ea3ae;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
