.profile-container {
  position: relative;
  width: 851px;
  margin: 0 auto;
  left: -65px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
      "Lucida Grande";
}

.cover-photo {
  background-image: image_url("cover.jpg");
  background-size: cover;
  background-position: center center;
  height: 313px;
  border: 1px solid rgba(0, 0, 0, .25);
  border-top: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.profile-name {
  margin-left: 201px;
  padding-bottom: 10px;
  font-size: 24px;
}

.profile-photo-container {
  position: relative;
  bottom: -66px;
  left: 16px;
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.15);
  display: inline-block;
  border-radius: 3px;
}

.profile-photo {
  background-image: image_url("profile.png");
  background-size: cover;
  background-position: center center;
  height: 160px;
  width: 160px;
  border: 4px solid white;
  border-radius: 2px;
}

.profile-navbar {
  width: 648px;
  height: 43px;
  padding-left: 201px;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border: 1px solid #d3d6db;
  border-top: 0;
  border-radius: 0 0 3px 3px;

  ul {
    border-left: 1px solid #e9eaed;
    display: flex;
    justify-content: flex-start;
  }

  li {
    border-right: 1px solid #e9eaed;
  }

  a {
    text-decoration: none;
    color: #365899;
    line-height: 43px;
    padding: 0 20px;
  }
}

.cover-content-right {
  margin: 12px;
  display: flex;

  button {
    background-color: #f6f7f9;
    color: #4b4f56;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    line-height: 26px;

    &:last-of-type {
      margin-left: 10px;
    }

    div {
      padding: 0 10px;
    }
  }

  >div {
    position: relative;

    .friend-dropdown {
      padding: 8px;
      display: none;
      position: absolute;
      left: 2px;

      .dropdown-arrow {
        display: none;
        height: 7px;
        width: 7px;
        background-color: white;
        border-top: 1px solid #8c8c8c;
        border-left: 1px solid #8c8c8c;
        transform: rotate(45deg);
        position: absolute;
        left: 22px;
        top: 4px;
      }

      div {
        background-color: white;
        padding: 5px 0;
        white-space: nowrap;
        border: 1px solid #8c8c8c;
        overflow: hidden;
      }

      button {
        width: 100%;
        font-size: 12px;
        font-weight: normal;
        margin: 0;
        padding: 0 22px;
        color: #000;
        border: none;
        background-color: white;
        border-radius: 0;

        &:hover {
          background: #4469b0;
          border: 1px solid #2b497b 0;
          color: white;
        }
      }
    }

    &:hover .friend-dropdown {
      display: block;
    }

    &:hover .dropdown-arrow {
      display: block;
    }
  }
}

.content-sidebar {
  margin-top: 10px;
  background-color: white;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  width: 321px;
  padding: 12px;
}

.profile-info {

}
