/* 0e1f56, 3b5998, 6d84b4, afbdd4, and d8dfea */

.login-navbar-container {
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  height: 82px;
  border-bottom: 1px solid #133783
}

.login-container {
  display: flex;
  align-items: center;
}

.login-navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  width: 980px;
  margin: 0 auto;
}

#login-errors, #signup-errors {
  color: red;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
      "Lucida Grande";
  word-wrap: normal;
  width: 200px;
}

.logo {
  font-family: sans-serif;
  font-family: 'Klavika', sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: white;
  margin-top: 18px;

  a {
    color: white;
  }
}

td {
  padding-left: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
      "Lucida Grande";

  label[for] {
    font-size: 12px;
    color: white;
    padding-left: 1px;
  }

  >input {
    margin-top: 6px;
    margin-bottom: 2px;
    border: 1px solid black;
    padding: 3px 3px 4px 3px;
    width: 142px;

    font-size: 12px;
  }

  a {
    font-size: 12px;
    color: #9cb4d8
  }
}

.login-button {
  background-color: #4267b2;
  border: 1px solid #29487d;
  border-radius: 2px;
  padding: 0px 7px 4px 7px;

  &:hover {
    background-color: #3b5998;
  }

  input {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 12px;
    padding: 0;
    line-height: 18px;
  }
}
